@import "tailwindcss";

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

@keyframes slideX {
    from {
        transform: translateX(0);}
    to {
        transform: translateX(-100%);
    }
}